<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
							<tbody>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:16px;text-align:left;width:564px">
									<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
										<tbody>
											<tr style="padding:0;text-align:left;vertical-align:top">
												<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
												<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
													<tbody>
														<tr style="padding:0;text-align:left;vertical-align:top">
															<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:100%">
															<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																<tbody>
																	<tr style="padding:0;text-align:left;vertical-align:top">
																		<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
																		<center data-parsed="" style="min-width:none!important;width:100%">
																		
																		<h5 align="center" class="float-center" style="Margin:0;Margin-bottom:10px;color:red;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:700;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center;word-wrap:normal"><!--You may also enjoy these--> Jelly Belly Customer Favorites!</h5>
																		
																		</center>
																		</th>
																		<th class="expander" style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0">&nbsp;</th>
																	</tr>
																</tbody>
															</table>
															</th>
														</tr>
													</tbody>
												</table>
												</th>
											</tr>
										</tbody>
									</table>
									</th>
								</tr>
							</tbody>
						</table>


<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
							<tbody>
								<tr style="padding:0;text-align:left;vertical-align:top">
	
									<th class="border-right border-bottom small-12 large-6 columns" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:8px;text-align:left;width:274px">
									<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
										<tbody>
											<tr style="padding:0;text-align:left;vertical-align:top">
												<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
												<center data-parsed="" style="min-width:242px;width:100%"><a align="center" class="float-center" href="{{product_1_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;color:#20396f;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"><img alt="{{product_1_name}}" class="product" src="https://cdn-tp1.mozu.com/9046-11441/cms/11441/files/{{product_1_img}}?max=250" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto" /></a>

												<p style="Margin:0;Margin-bottom:5px;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:13px;font-weight:700;line-height:1.3;margin:0;margin-bottom:5px;padding:0;text-align:center"><a align="center" class="float-center" href="{{product_1_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;color:#20396f;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">{{product_1_name}}</a></p><br />

												
												
											<table class="button large radius item warning center-yahoo" style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;display:inline-block;margin:0 0 16px 0;padding:0;text-align:left;vertical-align:top;width:auto">
													
													<tbody>
														<tr style="padding:0;text-align:left;vertical-align:top">
															<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
															<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																<tbody>
																	<tr style="padding:0;text-align:left;vertical-align:top">
																		<td class="outlook-button" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background-color: #ff7619;border:0 solid red;border-collapse:collapse!important;border-radius:5px;color:#fefefe;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word"><a href="{{product_1_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;border:0 solid #ff7619;border-radius:5px;color:#fefefe;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:700;line-height:1.3;margin:0;padding:10px 20px 10px 20px;text-align:left;text-decoration:none">{{product_1_button}}</a></td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												
												                                               <!--[if mso]>
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{product_1_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="height:46px;v-text-anchor:middle;width:200px;" arcsize="5%" strokecolor="#EB7035" fillcolor="#ff7619">
            <w:anchorlock/>
            <center style="color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:20px;font-weight:bold">{{product_1_button}} </center>
          </v:roundrect>
        <![endif]-->  
												
												<!--[if gte mso 9]>
													&nbsp; <br />
													&nbsp;
													<![endif]-->
												</center>
												</th>
											</tr>
										</tbody>
									</table>
									</th>
								
				
									<th class="border-bottom small-12 large-6 columns" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:8px;padding-right:16px;text-align:left;width:274px">
									<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
										<tbody>
											<tr style="padding:0;text-align:left;vertical-align:top">
												<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
												<center data-parsed="" style="min-width:242px;width:100%"><a align="center" class="float-center" href="{{product_2_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;color:#20396f;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"><img align="middle" alt="{{product_2_name}}" class="product" src="https://cdn-tp1.mozu.com/9046-11441/cms/11441/files/{{product_2_img}}?max=250" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto" /></a>
												<p style="Margin:0;Margin-bottom:5px;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:13px;font-weight:700;line-height:1.3;margin:0;margin-bottom:5px;padding:0;text-align:center"><a align="center" class="float-center" href="{{product_2_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;color:#20396f;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">{{product_2_name}}</a></p><br />

												
												 
											<table class="button large radius item warning center-yahoo" style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;display:inline-block;margin:0 0 16px 0;padding:0;text-align:left;vertical-align:top;width:auto">
													
													<tbody>
														<tr style="padding:0;text-align:left;vertical-align:top">
															<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
															<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																<tbody>
																	<tr style="padding:0;text-align:left;vertical-align:top">
																		<td class="outlook-button" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#ff7619;border:0 solid #ff7619;border-collapse:collapse!important;border-radius:5px;color:#fefefe;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word"><a href="{{product_2_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;border:0 solid #ff7619;border-radius:5px;color:#fefefe;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:700;line-height:1.3;margin:0;padding:10px 20px 10px 20px;text-align:left;text-decoration:none">{{product_2_button}}</a></td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												
												                                               <!--[if mso]>
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{product_2_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="height:46px;v-text-anchor:middle;width:200px;" arcsize="5%" strokecolor="#EB7035" fillcolor="#ff7619">
            <w:anchorlock/>
            <center style="color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:20px;font-weight:bold">{{product_2_button}}</center>
          </v:roundrect>
        <![endif]-->  
												
												<!--[if gte mso 9]>
													&nbsp; <br />
													&nbsp;
													<![endif]-->
												</center>
												</th>
											</tr>
										</tbody>
									</table>
									</th>
								</tr>
							</tbody>
						</table>

						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<td height="0px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:0;font-weight:400;hyphens:auto;line-height:0;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td>
								</tr>
							</tbody>
						</table>

						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<td height="0px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:0;font-weight:400;hyphens:auto;line-height:0;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						<!--[if gte mso 9]>
                        <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                            <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <th class="small-12 large-12 columns first last" style="Margin:0 auto;border-top-color:#bed3ec;border-top-style:solid;border-top-width:2px;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                      
                                    </table>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        <![endif]-->
						<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
							<tbody>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<th class="border-top border-right small-12 large-6 columns" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:8px;text-align:left;width:274px">
									<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
										<tbody>
											<tr style="padding:0;text-align:left;vertical-align:top">
												<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">&nbsp;
												<center data-parsed="" style="min-width:242px;width:100%"><a align="center" class="float-center" href="{{product_3_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;color:#20396f;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"><img alt="{{product_3_name}}" src="https://cdn-tp1.mozu.com/9046-11441/cms/11441/files/{{product_3_img}}?max=250" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto" /></a>

												<p style="Margin:0;Margin-bottom:5px;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:13px;font-weight:700;line-height:1.3;margin:0;margin-bottom:5px;padding:0;text-align:center"><a align="center" class="float-center" href="{{product_3_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;color:#20396f;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">{{product_3_name}}</a></p><br />
												
		
											<table class="button large radius item warning center-yahoo" style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;display:inline-block;margin:0 0 16px 0;padding:0;text-align:left;vertical-align:top;width:auto">
													<tbody>
														<tr style="padding:0;text-align:left;vertical-align:top">
															<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
															<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																<tbody>
																	<tr style="padding:0;text-align:left;vertical-align:top">
																		<td class="outlook-button" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#ff7619;border:0 solid #ff7619;border-collapse:collapse!important;border-radius:5px;color:#fefefe;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word"><a href="{{product_3_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;border:0 solid #ff7619;border-radius:5px;color:#fefefe;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:700;line-height:1.3;margin:0;padding:10px 20px 10px 20px;text-align:left;text-decoration:none">{{product_3_button}}</a></td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												
		 <!--[if mso]>
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{product_3_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="height:46px;v-text-anchor:middle;width:200px;" arcsize="5%" strokecolor="#EB7035" fillcolor="#ff7619">
            <w:anchorlock/>
            <center style="color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:20px;font-weight:bold">{{product_3_button}}</center>
          </v:roundrect>
        <![endif]-->  
												
												<!--[if gte mso 9]>
													&nbsp; <br />
													&nbsp;
													<![endif]-->
												
												</center>
												</th>
											</tr>
										</tbody>
									</table>
									</th>
									<th class="border-left small-12 large-6 columns" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:8px;padding-right:16px;text-align:left;width:274px">
									<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
										<tbody>
											<tr style="padding:0;text-align:left;vertical-align:top">
												<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">&nbsp;
												<center data-parsed="" style="min-width:242px;width:100%"><a align="center" class="float-center" href="{{product_4_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;color:#20396f;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"><img alt="{{product_4_name}}" src="https://cdn-tp1.mozu.com/9046-11441/cms/11441/files/{{product_4_img}}?max=250" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto" /></a>
												<p style="Margin:0;Margin-bottom:5px;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:13px;font-weight:700;line-height:1.3;margin:0;margin-bottom:5px;padding:0;text-align:center"><a align="center" class="float-center" href="{{product_4_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;color:#20396f;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">{{product_4_name}}</a></p><br />

												
												
								
												
									
								<table class="button large radius item warning center-yahoo" style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;display:inline-block;margin:0 0 16px 0;padding:0;text-align:left;vertical-align:top;width:auto">
													<tbody>
														<tr style="padding:0;text-align:left;vertical-align:top">
															<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
															<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																<tbody>
																	<tr style="padding:0;text-align:left;vertical-align:top">
																		<td class="outlook-button" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#ff7619;border:0 solid #ff7619;border-collapse:collapse!important;border-radius:5px;color:#fefefe;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word"><a href="{{product_4_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;border:0 solid #ff7619;border-radius:5px;color:#fefefe;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:700;line-height:1.3;margin:0;padding:10px 20px 10px 20px;text-align:left;text-decoration:none">{{product_4_button}}</a></td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												
																						                                               <!--[if mso]>
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{product_4_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="height:46px;v-text-anchor:middle;width:200px;" arcsize="5%" strokecolor="#EB7035" fillcolor="#ff7619">
            <w:anchorlock/>
            <center style="color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:20px;font-weight:bold">{{product_4_button}}</center>
          </v:roundrect>
        <![endif]-->  
												
												<!--[if gte mso 9]>
													&nbsp; <br />
													&nbsp;
													<![endif]-->
												
												</center>
												</th>
												
												
											</tr>
										</tbody>
									</table>
									</th>
								</tr>
							</tbody>
						</table>
						
						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<td height="10px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;hyphens:auto;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<td height="10px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;hyphens:auto;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td>
								</tr>
							</tbody>
						</table>
