<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
							<tbody>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:16px;text-align:left;width:564px">
									<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
										<tbody>
											<tr style="padding:0;text-align:left;vertical-align:top">
												<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
												<h5 style="Margin:0;Margin-bottom:10px;color:red;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:700;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center;word-wrap:normal"><!--Check out what&#39;s--> Trending at Jelly Belly this week!</h5>
												</th>
												<th class="expander" style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0">&nbsp;</th>
											</tr>
										</tbody>
									</table>
									</th>
								</tr>
							</tbody>
						</table>

						

						<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
							<tbody>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<th class="small-12 large-6 columns first" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:8px;text-align:left;width:274px">
									<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
										<tbody>
											<tr style="padding:0;text-align:left;vertical-align:top">
												<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
												<center data-parsed="" style="min-width:242px;width:100%"><a align="center" class="float-center" href="{{secondary_1_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;color:#20396f;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"><img alt="{{secondary_1_alt}}" src="http://cdn-tp1.mozu.com/9046-m1/cms/files/{{secondary_1_img}}" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:266px;outline:0;text-decoration:none;width:auto" class="secondary-img" /></a>
												
												<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
													<tbody>
														<tr style="padding:0;text-align:left;vertical-align:top">
															<td height="10px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;hyphens:auto;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td>
														</tr>
													</tbody>

												</table>
												
												<table class="button large radius item warning center-yahoo" style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;display:inline-block;margin:0 0 16px 0;padding:0;text-align:left;vertical-align:top;width:auto">
													<tbody>
														<tr style="padding:0;text-align:left;vertical-align:top">
															<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
															<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																<tbody>
																	<tr style="padding:0;text-align:left;vertical-align:top">
																		<td class="outlook-button" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#bc1000;border:0 solid #ff7619;border-collapse:collapse!important;border-radius:5px;color:#fefefe;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word"><a href="{{secondary_1_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;border:0 solid #ff7619;border-radius:5px;color:#fefefe;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:700;line-height:1.3;margin:0;padding:10px 20px 10px 20px;text-align:left;text-decoration:none">{{secondary_1_button}}</a></td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												
		 <!--[if mso]>
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{secondary_1_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="height:46px;v-text-anchor:middle;width:200px;" arcsize="5%" strokecolor="#EB7035" fillcolor="#bc1000">
            <w:anchorlock/>
            <center style="color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:20px;font-weight:bold">Save 50%!</center>
          </v:roundrect>
        <![endif]-->  
											
												
												
												</center>

												<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
													<tbody>
														<tr style="padding:0;text-align:left;vertical-align:top">
															<td height="10px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;hyphens:auto;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td>
														</tr>
													</tbody>
												</table>
								
												</th>
												</tr>										
										</tbody>
									</table>
						
									<th class="small-12 large-6 columns last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:8px;padding-right:16px;text-align:left;width:274px">
									<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
										<tbody>
											<tr style="padding:0;text-align:left;vertical-align:top">
												<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
												<center data-parsed="" style="min-width:242px;width:100%"><a align="center" class="float-center" href="{{secondary_2_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;color:#20396f;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"><img alt="{{secondary_2_alt}}" src="http://cdn-tp1.mozu.com/9046-m1/cms/files/{{secondary_2_img}}" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:266px;outline:0;text-decoration:none;width:auto"  class="secondary-img" /></a>
												
												<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
													<tbody>
														<tr style="padding:0;text-align:left;vertical-align:top">
															<td height="0px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;hyphens:auto;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td>
														</tr>
													</tbody>

												</table>
												
												<table class="button large radius item warning center-yahoo" style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;display:inline-block;margin:0 0 16px 0;padding:0;text-align:left;vertical-align:top;width:auto">
													<tbody>
														<tr style="padding:0;text-align:left;vertical-align:top">
															<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
															<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																<tbody>
																	<tr style="padding:0;text-align:left;vertical-align:top">
																		<td class="outlook-button" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#bc1000;border:0 solid #ff7619;border-collapse:collapse!important;border-radius:5px;color:#fefefe;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word"><a href="{{secondary_2_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="Margin:0;border:0 solid #ff7619;border-radius:5px;color:#fefefe;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:700;line-height:1.3;margin:0;padding:10px 20px 10px 20px;text-align:left;text-decoration:none">{{secondary_2_button}}</a></td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												
		 <!--[if mso]>
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{secondary_2_url}}utm_source=vidiemi&amp;utm_medium=email&amp;utm_campaign={{tracking}}&amp;zjxj=##%zjxj##&amp;sendroll_email=##^%email##" style="height:46px;v-text-anchor:middle;width:200px;" arcsize="5%" strokecolor="#EB7035" fillcolor="#bc1000">
            <w:anchorlock/>
            <center style="color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:20px;font-weight:bold">Save 15%!</center>
          </v:roundrect>
        <![endif]-->  
												
												
												</center>
												</th>
											</tr>
										</tbody>
									</table>
									</th>
								</tr>
							</tbody>
						</table>